@import "tailwindcss";

@theme {
  --default-font-family: "Lato", sans-serif;

  --color-blue-dark: #2E3DA3;
  --color-blue-base: #5165E1;
  --color-blue-light: #8996EB;
  --color-gray-100: #151619;
  --color-gray-200: #1E2024;
  --color-gray-300: #535964;
  --color-gray-400: #858B99;
  --color-gray-500: #E3E5E8;
  --color-gray-600: #F9FAFA;
  --color-danger: #D03E3E;
  --color-open: #CC3D6A;
  --color-progress: #355EC5;
  --color-done: #508B26;
}

#root {
  width: 100svw;
  height: 100svh;
}

div {
  display: flex;
}

* {
  position: relative;
}